@model MagicalHabitTracker.Model.Habit

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Habit</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="periodicity" class="control-label"></label>
                <select asp-for="periodicity" class="form-control"></select>
                <span asp-validation-for="periodicity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="targetPeriod" class="control-label"></label>
                <input asp-for="targetPeriod" class="form-control" />
                <span asp-validation-for="targetPeriod" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isActive" /> @Html.DisplayNameFor(model => model.IsArchived)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="createdAt" class="control-label"></label>
                <input asp-for="createdAt" class="form-control" />
                <span asp-validation-for="createdAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
